body {
    font-family: Roboto, Arial;
    color: black;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 50px;
    background-color: rgb(248, 248, 248);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a,
a:visited, 
a:hover, 
a:active {
    color: black;
    text-decoration: none;
}

